/*CSS Variables */

$color-900: hsl(4, 100%, 67%);
$color-800: hsl(234, 29%, 20%);
$color-700: hsl(235, 18%, 26%);
$color-600: hsl(231, 7%, 60%);
$color-500: hsl(0, 0, 100%);
$font-family: "Roboto", sans-serif;
$fw-400: 400;
$fw-700: 700;
$container-padding: 2.5rem;

@mixin for-desktop {
  @media (min-width: 800px) {
    @content;
  }
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
html {
  font-size: 62.5%; // 10px = 1rem
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size: 1.6rem;
  font-family: $font-family;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

::placeholder {
  padding: 1rem;
  // color: $color-900;
}

// Utulity Class

.btn {
  background-color: $color-800;
  color: $color-500;
  border: 0;
  padding: 1.5rem;
  font-weight: $fw-700;
  border-radius: 6px;
}
.error-input {
  border: 1px solid $color-900 !important;
  background-color: rgba(255, 98, 87, 0.3);
}
.error-message {
  color: $color-900;
  font-size: 1.3rem;
  font-weight: $fw-700;
}

.hidden {
  display: none !important;
}
body {
  @include for-desktop() {
    background-color: $color-800;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}
.sign-up-page {
  @include for-desktop() {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    background-color: #fff;
    border-radius: 35px;
    align-items: center;
    padding: 2rem;
    max-width: 90rem;
  }
}

/* Header Styles */

.header__image-mobile {
  img {
    @include for-desktop() {
      display: none;
    }
    width: 100%;
    height: auto;
  }
}
.header__image-desktop {
  display: none;
  @include for-desktop() {
    display: block;
  }
}

/* Main Styles */

.main {
  padding: $container-padding;
  @include for-desktop() {
    margin: 2rem;
  }
  &__content {
    &-heading {
      font-size: 4rem;
      color: $color-800;
      font-weight: $fw-700;
      @include for-desktop() {
        font-size: 5.5rem;
      }
    }
    &-description {
      padding: 2rem 0;
      @include for-desktop() {
        // font-size: 1.7rem;
      }
    }
    &-highlight {
      display: flex;
      gap: 1.5rem;
      margin: 1rem 0;
      img {
        align-self: flex-start;
      }
      &-text {
        font-weight: $fw-400;
        color: $color-800;
      }
    }
  }
}

/* Form Styles */

.form {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  &__group {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    padding-top: 3rem;
    &-labels {
      display: flex;
      justify-content: space-between;
    }
    &-label {
      font-size: 1.3rem;
      font-weight: $fw-700;
    }
    &-input {
      padding: 1.3rem;
      border: 1px solid $color-600;
      border-radius: 10px;
    }
  }
}
// THANK YOU SECTION

.response {
  padding: $container-padding;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  &__content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-top: 13rem;
    img {
      width: 6.5rem;
    }
    h2 {
      font-size: 4rem;
      line-height: 1;
      color: $color-800;
    }
    .user__email {
      color: $color-800;
      font-weight: $fw-700;
    }
  }
  .btn {
    width: 100%;
  }
}
